html, body
{
  height:100%;
 }
body
{
  background-image: url("../img/scene-with-green-leaves_1048-5237.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  
}
  
.hearthealthy
{
  height:30%;
  width:30%;
}
#heading
{
  height:20%;
  width:40%;
  color: #F2F3F4;
   font-size:36px;
}
.continer
{
  color:#4970C4;
}

#navr
{
 margin-top:5px;

}
#navr a
{
  background-color:rgb(169,169,169);
  text-decoration: none;
  border: 3px solid;
  float:right;
  font-size:20px;
  
}
.message
{
  height:100px;
  width:100%;
  font-size: 50px;
  text-align: center;
 
}

#caption
{
   font-size: 30px;
   inline:block;
   text-align:center;
  
}

.container
{
  margin-top:50px;
  background-color: #CB4F3C;

}

#center
{
  width:50%;
  margin:auto;
}

